.body {
  background-color: black;
}

h1 {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
}

#calculatorTitle,
#binaryTitle {
  color: orange;
  text-shadow: 1px 0.5px black;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.container,
.container2 {
  width: 25%;
  margin: auto;
  height: auto;
}

.container,
#binaryTitle,
#cal {
  display: none;
}

#change {
  background-color: white;
  border-radius: 10px;
  color: orange;
  border: orange solid 1px;
  font-size: 1.2em;
  height: 2em;
  padding: 10px;
  font-weight: bold;
}

#binaryCal,
#cal {
  background-color: orange;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  height: 2em;
  padding: 7px;
  font-weight: 500;
}

#binary {
  width: 100%;
}

#res,
#resD {
  border: 2px solid orange;
  height: 0.3em;
  font-size: 2em;
  margin: 0.5em 0;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
}

#btnEql,
#btnDEql,
#btnClr,
#btnDClr {
  background-color: white;
}

#btn0,
#btn1,
#btnD0,
#btnD1,
#btnD2,
#btnD3,
#btnD4,
#btnD5,
#btnD6,
#btnD7,
#btnD8,
#btnD9 {
  background-color: orange;
  border: 1px solid white;
  color: white;
  text-shadow: 1px 1px black;
}

#btnSum,
#btnSub,
#btnMul,
#btnDiv,
#btnDSum,
#btnDSub,
#btnDMul,
#btnDDiv {
  background-color: black;
  border: 1px solid orange;
}

.btn {
  width: 23%;
  height: 3.7em;
  font-size: 1.5em;
  margin: 1%;
  float: left;
  border: 1px solid black;
  border-radius: 50%;
  color: orange;
}

.btn:hover {
  opacity: 0.8;
  border: orange 2px solid;
}

@media only screen and (max-width: 600px) {
  .container,
  .container2 {
    width: 90% !important;
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #change,
  #calculatorTitle,
  #binaryTitle {
    margin: 0.5em;
    width: 70%;
  }

  .btn {
    height: 3.2em;
  }
}
