body {
  background-color: black;
}

#calculatorTitle,
#binaryTitle {
  color: orange;
  text-shadow: 1px 0.5px white;
  text-align: center;
}

.container,
.container2 {
  width: 25%;
  margin: auto;
  height: auto;
}

#binary {
  width: 100%;
}

#res,
#resD {
  border: 2px solid orange;
  height: 0.3em;
  font-size: 2em;
  margin: 0.5em 0;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
}

#btn0,
#btn1,
#btnD0,
#btnD1,
#btnD2,
#btnD3,
#btnD4,
#btnD5,
#btnD6,
#btnD7,
#btnD8,
#btnD9 {
  background-color: orange;
  border: 1px solid white;
  color: white;
  text-shadow: 1px 1px black;
}

#btnSum,
#btnSub,
#btnMul,
#btnDiv,
#btnDSum,
#btnDSub,
#btnDMul,
#btnDDiv {
  background-color: black;
  border: 1px solid orange;
}

.btn {
  width: 23%;
  height: 3.7em;
  font-size: 1.5em;
  margin: 1%;
  float: left;
  border: 1px solid black;
  border-radius: 50%;
  color: orange;
}

.btn:hover {
  opacity: 0.8;
  border: orange 2px solid;
}

@media only screen and (max-width: 600px) {
  .container,
  .container2 {
    width: 90% !important;
  }
}

@media only screen and (max-width: 420px) {
  .container,
  .container2 {
    width: 95% !important;
  }

  .btn {
    height: 3.2em;
  }
}
