body {
  width: 33%;
  margin: auto;
  margin-top: 2em;
}

#res {
  background-color: lightgray;
  border: solid 1px black;
  height: 48px;
  font-size: 20px;
}

#btn0,
#btn1 {
  background-color: lightgreen;
  color: brown;
}

#btnSum,
#btnSub,
#btnDiv,
#btnDiv {
  background-color: black;
  color: red;
}

.btn {
  width: 25%;
  height: 36%;
  font-size: 18px;
  margin: 0px;
  float: left;
}
